/* backend/.env.example
Alfie Staunton
03.07.26
*/

# Database Config
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_xampp_password_here
DB_NAME=dulra

#security
JWT_SECRET=add_a_secret_string_here
PORT=5000